export GO_CURRENT_PROJECT=finaltun
export GO_CURRENT_PACKAGE=github.com/tcz001
export GLOBAL_GOPATH=$HOME/.gopath
export LOCAL_GOPATH=$HOME/.gopkgs/$GO_CURRENT_PROJECT
export GOPATH=$LOCAL_GOPATH:$GLOBAL_GOPATH

PATH_add $LOCAL_GOPATH/bin
mkdir -p $LOCAL_GOPATH
mkdir -p $LOCAL_GOPATH/src
mkdir -p $LOCAL_GOPATH/pkg
mkdir -p $LOCAL_GOPATH/bin
mkdir -p $LOCAL_GOPATH/src/$GO_CURRENT_PACKAGE
